*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
}